/* imports colors */

@import "../base/color_variables" ;

.contact_header_selector {
    position: fixed;
    top: 10vh;
    width: 100%;
}

#contact {
    // min-height: 60vh;
    
    div:last-child {
        // padding: 50px;
        // test this
    }
}

.contact_html {
    height: 82vh;
    max-height: 82vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
    p {
        padding: 3vh 50px 7vh 50px;
    
    }
}

#main_contact {
        height: 82vh;
        position: fixed;
        top: 18vh;
        width: 100vw;
    article {
        border-width: 0px;
        width: 80%;
        padding: 0px;
    }
}

@media (min-width: 1000px) {
    .contact_html {
        // height: 82vh;
        // max-height: 82vh;
        position: relative;
        width: 100vw;
        div {
            left: 0vw;
        }
        p {
            padding: 50px;
            position: absolute;
            left: 0vw;
            width: 30vw;
        }
    }
    #main_contact {
            position: relative;
        article {
            border-width: 5px;
            padding: 30px 40px 30px 40px;
            position: absolute;
            top: 10vh;
            right: 15vw;
        }
    }
}