/* imports colors */

@import "../base/color_variables" ;

#splash{
    img{
        max-width: 80vw;
        margin-left: 10vw;
        margin-top: 20%;
    }
}

#about div{
    display: flex;
    flex-direction: column;
    img {
        width: 85vw;
        max-width: 600px;
        align-self: center;
    }
    .tekst_container {
        border-style: solid;
        border-width: 5px;
        border-color: #c1272d;
        width: 85vw;
        max-width: 600px;
        align-self: center;
        border-top: none;
        p{
            padding: 50px;
            font-size: 19px;
            line-height: 22px;
        }
    }
    h2 {
        justify-self: center;
    }
}

#skills {
    .main_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image_container {
        width: 60vw;
        display: flex;
        justify-content: space-around;
        border-style: solid;
        border-width: 5px;
        border-color: #c1272d;
        padding: 5vw;
    img {
        width: 60px;
    }
    }
    p {
        width: 70vw;
        padding: 50px;
        font-size: 20px;
        line-height: 25px;
    }
    .button_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            text-align: center;
        }
        button {
            all:initial;
            background-color: #46F591;
            height:60px;
            width: 250px;
            border-radius: 10px;
            text-align: center;
            font-size: 40px;
            cursor: pointer;
            color:#212323;
        }
    }
}

@media (min-width: 400px) {
    #splash{
        display: flex;
        justify-content: center;
        img{
            width: 300px;
            height: 600px;
            margin-top: 100px;
            margin-left: 0;
            
        }
        
    }
}