/* imports colors */

@import "../base/color_variables" ;

main {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    #splash, #about, #skills, #contact {
        scroll-snap-align: start;
    }
}

#splash {
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        max-width: 80vw;
        margin-left: 10vw;
        margin-top: 20%;
        max-height: 80vh;
    }
}
#paddingSelector {
    padding-left: 7vw;
    padding-right: 7vw;
}
#about div{
    display: flex;
    flex-direction: column;
    img {
        width: 100%;
        max-width: 600px;
        align-self: center;
    }
    .tekst_container {
        border-style: solid;
        border-width: 5px;
        border-color: $red;
        width: 100%;
        // max-width: 600px;
        align-self: center;
        border-top: none;
        p{
            padding: 50px;
            font-size: 19px;
            line-height: 22px;
        }
    }
    h2 {
        justify-self: center;
    }
}

#skills {
    .main_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image_container {
        width: 60vw;
        display: flex;
        justify-content: space-around;
        border-style: solid;
        border-width: 5px;
        border-color: #c1272d;
        padding: 5vw;
    img {
        width: 60px;
        height: 77px;
    }
    }
    p {
        width: 70vw;
        padding: 50px;
        font-size: 20px;
        line-height: 25px;
    }
    .button_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            text-align: center;
        }
        button {
            all: initial;
            background-color: $brightGreen;
            // height: 50px;
            width: 250px;
            border-radius: 10px;
            text-align: center;
            font-size: 30px;
            cursor: pointer;
            color: $darkGrey;
            align-self: center;
            margin-top: 10px;
            padding: 10px;
            border: solid 1px $brightGreen;
            
        }
        button:hover {
            transition: .4s;
            background-color: $darkGrey;
            color: $brightGreen;
        
        }
          
    }
}

#contact {
    height: 90vh;
    padding-bottom: 0;
    #send_email {
        margin: auto;
    }
    button {
        border: solid 1px $brightGreen;
    }
    button:hover {
        transition: .4s;
        background-color: $darkGrey;
        color: $brightGreen;
    
    }
}

#contact #about_information{
    // height: 60vh;
}

#contact {
    .contact_container p {
        padding: 50px;
    }
}

@media (min-width: 400px) {
    #splash{
        img{
            margin-top: 100px;
            margin-left: 0;
            
        }
        
    }
}


/* style for desktop and tablet layout */

@media (min-width: 1000px) {
    #about {
        display: flex;
        flex-direction: row;
        max-height: 70vh;
        margin-bottom: 50px;
    
        .header {
            width: 45vw;
            padding:0;
        }
    
        div {
            width: 40vw;
            padding-left: 7.5vw;
            position: relative;
            div {
                position: absolute;
                // left: -96%;
                // top: 11%;
                top: 6vh;
                left: -47.5vw;
                width: 40vw !important;
                padding-left: 5vw;
            }
            .tekst_container {
                border-width: 0px;
            }
        }
        
    }
    
    #skills {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 80vh;
        .header {
            width: 45vw;
            align-self: flex-end;
        }
        .main_container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: start;
            max-width: 45vw;
            p {
                width: 80%;
            }
            div {
                width: 50%;
                padding: 5%;
                align-self: start;
                margin-left: 50px;
            }
            .button_container {
                position: absolute;
                left: -90%
            }
        }
        #works_exampple {
            height: 200px;
            width: 200px;
            border-style: solid;
            border-width: 5px;
            border-color: $red;
            margin:auto;
            background-image: url("./images/example.png");
            background-size: contain;
        }
    }
    
    #contact {
        height: 80vw;
        .header {
            width: 45vw;
        }
        #about_information{
            width: 40%;
            height: 100%;
            p {
                padding: 50px;
            }
        }
        #send_email{
            // height: 100%;
            width: 40vw;
            margin: auto;
            margin-left: 12%;
            margin-top: -8vh;

        }
        .contact_container{
            display: flex;
            justify-content: space-between;
            height:40vh;
        }
    }
}
