
@import "../base/color_variables" ;

.singleview {
    position: relative;
    a {
        color: $linkColor;
    }
}

.singleview_main {
    scroll-snap-type: y mandatory!important;
}

.singleview_footer {
    scroll-snap-align: end;
}

.singleview svg {
    transform: translateX(25px);
    cursor: pointer;
    position: absolute;
    left: 0;
    transition: 0.5s;
}
.singleview svg:hover {
    transform: translateX(22px) scale(1.1);
}

.singleview_image {
    // background-color: green;
    height: 30vh;
    width: 100vw;
    background-size: cover;
}

.singleview_links {
    height: 10vh;
    padding-top: 5vh;
    p {
        font-size: 3.5vw;
        text-align: center;
    }
}

.singleview_text {
    height: 37vh;
    padding: 0 10vw 0 10vw;
    p {
        font-size: 3.5vw;
    }
}

.singleview article {
    scroll-snap-align: start;
}

@media (min-width: 500px) {
    .singleview_text {
        p {
            font-size: 18px;
        }
    }
    .singleview_links {
        p {
            font-size: 18px;
        }
    }

}

@media (min-width: 1000px) {

    .singleview_text {
        padding: 0 20vw 0 20vw;
        p {
            font-size: 20px;
        }
    }
    .singleview_links {
        white-space: nowrap;
        height: 15vh;
        p {
            padding: 0 30vw 0 30vw;
            font-size: 1.5vw;
        }
    }
    .singleview_image {
        // background-color: green;
        margin: auto;
        height: 20vw;
        width: 30vw;
        max-height: 250px;
        max-width: 440px;
        background-size: cover;
    }

    .buffer {
        height: 3vh;
    }

}

@media (min-width: 1500px) {
    .singleview_text {
        p {
            font-size: 20px;
        }
    }
    .singleview_links {
        p {
            font-size: 25px;
        }
    }

}

@media (min-width: 1800px) {
    .singleview_text {
        padding: 0 30vw 0 30vw;
        p {
            font-size: 20px;
        }
    }

}
