/* imports colors */

@import "../base/color_variables" ;

.works_header_selector {
    margin-top: 10vh;
}

#main_works {
  height: 82vh;
  scroll-snap-type: none;
}

#portfolio_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    height:234vh;
    max-height: none;
    padding: 0;
    padding-top: 4vh;
    padding-bottom: 4vh;
    
}

#portfolio_grid div div {
        margin: auto;
        height: 28vh;
        width: 38vh;
        border-style: solid;
        border-width: 5px;
        border-color: #c1272d;
        img:hover {
          transition-duration: 1s;
          transform: scale(1.5);
        }
}

@media (min-width: 750px) {
    #portfolio_grid {
      grid-template-columns: 1fr 1fr;
      height: 120vh;
  }
  }
  
  @media (min-width: 1200px) {
    #portfolio_grid {
      grid-template-columns: 1fr 1fr 1fr;
      height: 78vh;
      scroll-snap-align: start;
      
    }
    #main_works {
      scroll-snap-type: y mandatory;
    }
  }