/* imports colors */

@import "../base/color_variables" ;



section {
    max-height: 90vh;
    // margin-bottom: 5vh;
    padding-top: 10vh;
}

@media (min-width: 1000px)  {
    section {
        max-height: 80vh;
        padding-top: 20vh;
    }
    #burger_menu {
        display:none;
    }
}