/* imports colors */

@import "../base/color_variables" ;

footer {
    height:35vh;
    background-color: $red;
    width: 100%;
    scroll-snap-align: end;
    display: flex;
    flex-direction: column;
    .footer_top {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 5vh;
    }
    p {
        color: $darkGrey;
        width: 100%;
        text-align: center;
        font-size: 12px;
        margin-top: 5vh;
    }
}

.footer_left {
    display: flex;
    flex-direction: column;
    height: 200px;
    div {
        height: 100%;
    }
}

footer div a {
color: $darkGrey;
font-size: 25px;
padding: 5px 5px 5px;
white-space: nowrap;
width: 180px;
// height: 50px;
text-align: start;
border-style: solid;
border-width: 2px;
border-color: $red;
border-left: none;
border-right: none;
border-top: none;
text-decoration: none;
}
footer div a:hover {
    border-color: $darkGrey;
    
}

.footer_right {
    padding-top: 2vh;
    h3 {
        color:$darkGrey;
        font-size: 20px;
        text-decoration: none;
        margin-bottom: 20px;
    }
    h4 {
        color:$darkGrey;
        font-size: 15px;
    }
}