/* imports colors */

@import "../base/color_variables" ;

#desktop_nav {
  display: none;
  position: fixed;
  top: 35px;
  left: 2vw;
  font-size: 25px;
  div {
    margin-right: 20px;
    a {
      color: $red;
      text-decoration: none;
    
    }
    a:hover {
      border-bottom: 2px solid $red;
      transition: .2s;
    }
  }
}

@media (min-width: 1000px) {
  #desktop_nav {
    display: flex;
  }
}

.header {
    background-color: #c1272d;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site_links {
    position: fixed;
    width: 100vw;
    height:50vh;
    background-color:#c1272d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    transition-duration: 1s;
    top:0;
    z-index: 1;
    div {
        display: flex;
    }
    a {
        color: #212323;
        font-size: 40px;
        padding: 30px;
        white-space: nowrap;
        width: 180px;
        height: 50px;
        text-align: center;
        justify-content: center;
        border-style: solid;
        border-width: 2px;
        border-color: #212323;
        border-left: none;
        border-right: none;
        border-top: none;
        text-decoration: none;
    }
    
    
}

.hidden {
    display:none;
}
.activeIn {
    animation: slideIn;
    animation-duration: 0.5s;
    transition-timing-function: ease-out;

}

.activeOut {
    animation: slideOut;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
}

@keyframes slideIn {
    0% {
        left: 100vw;
        background-color: #212323;
    }
    50%{
        background-color: #c1272d;
    }
    100% {
        left: 0vw;
        
    }
}
@keyframes slideOut {
    0% {
        left: 0vw;
        background-color: #c1272d;
    }
    70%{
        background-color: #212323;
    }
    100% {
        left: 100vw;
        background-color: #212323;
       
    }
}


nav {
.btn {
    position: fixed;
    top: 5%;
    right: 0%;
    transform: translate(-50%, -50%);
    width: 50px;
    cursor: pointer;
    z-index: 2;
  }
  
  span {
    display: block;
    width: 100%;
    // box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 3px;
    height: 5px;
    background: #c1272d;
    transition: all .3s;
    position: relative;
  }
  
  span + span {
    margin-top: 10px;
  }
  
  .active span:nth-child(1) {
    animation: ease .7s top forwards;
  }
  
  .not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
  }
  
  .active span:nth-child(2) {
    animation: ease .7s scaled forwards;
  }
  
  .not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
  }
  
  .active span:nth-child(3) {
    animation: ease .7s bottom forwards;
  }
  
  .not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
  }
  
  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 22px;
      transform: rotate(0);
    }
    100% {
      top: 10px;
      transform: rotate(45deg);
    }
  }
  
  @keyframes top-2 {
    0% {
      top: 22px;
      transform: rotate(45deg);
    }
    50% {
      top: 22px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 20px;
      transform: rotate(135deg);
    }
  }
  
  @keyframes bottom-2 {
    0% {
      bottom: 22px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}